Body{
Margin: 0;
Font-family: Arial, sans-serif;

/* Background image */

Background-image: url("https://images.unsplash.com/photo-1506606401543-2e73709cebb4?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2l0eSUyMG5pZ2h0fGVufDB8fDB8fHww");
Background-repeat: no-repeat;
Background-size: cover;
Background-position: center;
}

/* NAVBAR */

.navbar{
Background-color: rgba(0, 0, 0, 0.7);
Padding: 15px 30px;
Display: flex;
Justify-content: space-between;
Align-items: center;
}

.logo{
Color: white;
Margin: 0;
}

/* NAV LINKS */
.nav-links a{
Color: white;
Text-decoration: none;
Margin-left: 20px;
Font-size: 16px;
}

/* Hover effect */
.nav-links a:hover{
Color: yellow;
Text-decoration: underline;
}

/* Center content */
.container{
Text-align: center;
Padding: 80px 20px;
}

/* Box styling */
H1{
Color: black;
Background-color: white;
Display: inline-block;
Padding: 10px 20px;
Border: 2px solid black;
border-radius: 16px;
}

P{
Background-color: white;
Width: 70%;
Margin: 25px auto;
Padding: 15px;
Border-radius: 10px;
Font-size: 18px;
color:darkslategrey;
}

/* Button */

Button{
Padding: 12px 25px;
Font-size: 16px;
Border: none;
Background-color: black;
Color: white;
Border-radius: 8px;
Cursor: pointer;
}

/* Button hover */
Button:hover{
Background-color: #444;
Transform: scale(1.05);
Transition: 0.3s;
}